<%- include('./layouts/header') %>
<style>
    table {
        margin-top: 32px;
        min-width: 600px;
        border: thick solid black ;
        border-spacing: 0;
        padding: 16px;
        border-radius: 16px;
    }
    table th{
        padding: 10px;
        border: thin solid black;
        background-color: #3798d5;
        color: white;
    }
    table td{
        padding: 10px;
        border: thin solid black
    }

</style>

<script>
  function openForm(n) {
    document.getElementById("popupForm"+ n).style.display = "block";
  }

  function closeForm(n) {
    document.getElementById("popupForm"+n).style.display = "none";
  }


  function logout() {
      document.getElementById("LOGOUT").submit();
  }

  window.addEventListener('load', function() {
  document.querySelector('input[type="file"]').addEventListener('change', function() {
      if (this.files && this.files[0]) {
          var img = document.getElementById('myImg');
          img.onload = () => {
              URL.revokeObjectURL(img.src);  // no longer needed, free memory
          }

          img.src = URL.createObjectURL(this.files[0]); // set src to blob url
      }
  });
});

</script>

<h1 style="text-align:center;" >CISMUN ONLINE DATABASE</h1>
<h2 style="text-align:center;">Admin Dashboard</h2>

<div>
  <h4>PERSONAL INFORMATION</h4> 
  <b>Supervisor ID: </b><%= user.id %><br>
  <b>Name: </b><%= user.name %><br>
  <b>Email Address: </b><%= user.email %><br>
  <b>Total Delegates: </b><%= delegates.length %><br>
  <br>
</div>


<table class="table">
  <thead>
    <th>Committee Name</th>
    <th>Max Delegation</th>
  </thead>
  <tbody>
    <% Committees.forEach(Committee => { %>
    <tr>
      <td><%= Committee.name %></td>
      <td><%= Committee.max_delegates  %> </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<br><br>

<button class="button" onclick="openForm('')">Add Committee</button>
<button class="button" onclick="openForm('4')">Modify Committee</button>
<div class="loginPopup">
    <div class="formPopup" id="popupForm">
        <form action="/add-committee" method="POST">
            <h2 style="text-align:center;">Add Committee</h2>
            <div class="container" style="padding-left:2%">
                <label for="name">Committee Name: </label>
                <input class="input" type="text" id="name" name="name" required>
                <label for="max_delegates">Maximum Delegates: </label>
                <input class="input" type="number" id="max_delegates" name="max_delegates" required>
            </div>
            <br><br><br>
            <button class="button" type="submit">ADD</button>
            <button type="button" class="button" onclick="closeForm('')">CLOSE</button>
            <br><br>
        </form>
    </div>
</div>

<div class="loginPopup">
  <div class="formPopup" id="popupForm4">
      <form action="/modify-committee" method="POST">
          <h2 style="text-align:center;">Modify Committee</h2>
          <div class="container" style="padding-left:2%">
            <label for="id">Select Committee: </label>
            <select class="input" style="height:20px;" name="committee" required>
                <% Committees.forEach(committee => { %>
                    <option value="<%= committee.name %>"><%= committee.name %> </option>
                <% }) %>
            </select> 
              <label for="name">New committee Name: </label>
              <input class="input" type="text" id="name" name="name" required>
              <label for="max_delegates">Maximum Delegates: </label>
              <input class="input" type="number" id="max_delegates" name="max_delegates" required>
          </div>
          <br><br><br>
          <br><br>
          <button class="button" type="submit">MODIFY</button>
          <button type="button" class="button" onclick="closeForm('1')">CLOSE</button>
          <br><br>
      </form>
  </div>
</div>



<table class="table">
  <thead>
    <th>Resource</th>
  </thead>
  <tbody>
    <% resources.forEach(resource => { %>
    <tr>
      <td><a href="<%=resource.link %>"><%= resource.name %></a></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<br><br>

<button class="button" onclick="openForm(1)">Add Resource</button>

<button class="button" onclick="openForm(2)">Delete Resource</button>
<div class="loginPopup">
    <div class="formPopup" id="popupForm1">
        <form action="/add-resource" method="POST">
            <h2 style="text-align:center;">Add Resource</h2>
            <div class="container" style="padding-left:2%">
                <label for="name">Resource Name: </label>
                <input class="input" type="text" id="name" name="name" required>
                <label for="link">Resource Link: </label>
                <input class="input" type="url" id="link" name="link" required>
            </div>
            <br><br><br>
            <button class="button" type="submit">ADD</button>
            <button type="button" class="button" onclick="closeForm(1)">CLOSE</button>
            <br><br>
        </form>
    </div>
</div>
<div class="loginPopup">
  <div class="formPopup" id="popupForm2">
    <form action="/delete-resource" method="POST">
        <h2 style="text-align:center;">Delete Resource</h2>
        <div class="container" style="padding-left:2%">
            <label for="id">Select Item: </label>
            <select class="input" name="id" required>
                <% resources.forEach(resource => { %>
                  <option value="<%= resource.id %> "><%= resource.id + " - " + resource.name %> </option>
                <% }) %>
            </select>   
        </div>
        <button class="button" type="submit">DELETE</button>
        <button type="button" class="button" onclick="closeForm(2)">CLOSE</button>
        <br><br>

    </form>
  </div>
</div>
