<%- include('./layouts/header') %>
<style>

    table {
        margin-top: 32px;
        min-width: 600px;
        border: thick solid black ;
        border-spacing: 0;
        padding: 16px;
        border-radius: 16px;
    }
    table th{
        padding: 10px;
        border: thin solid black;
        background-color: #3798d5;
        color: white;
    }
    table td{
        padding: 10px;
        border: thin solid black
    }

</style>

<script>
  function openForm(n) {
    document.getElementById("popupForm" + n).style.display = "block";
  }

  function closeForm(n) {
    document.getElementById("popupForm" + n).style.display = "none";
  }


  function logout() {
      document.getElementById("LOGOUT").submit();
  }

  window.addEventListener('load', function() {
  document.querySelector('input[type="file"]').addEventListener('change', function() {
      if (this.files && this.files[0]) {
          var img = document.getElementById('myImg');
          img.onload = () => {
              URL.revokeObjectURL(img.src);  // no longer needed, free memory
          }

          img.src = URL.createObjectURL(this.files[0]); // set src to blob url
      }
  });
});

</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<h1 style="text-align:center;" >CISMUN ONLINE DATABASE</h1>
<h2 style="text-align:center;">Finance Dashboard</h2>
<div id="chart_div"></div>
<table class="table">
  <thead>
    <th>Item</th>
    <th>Price/Unit</th>
    <th>Cost/Unit</th>
  </thead>
  <tbody>
    <% costs.forEach(cost => { %>
    <tr>
      <td><%= cost.description %></td>
      <td><%= cost.price %> </td>
      <td><%= cost.cost %> </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<br><br>

<button class="button" onclick="openForm('')">Add Cost</button>
<button class="button" onclick="openForm(2)">Delete Cost</button>

<div class="loginPopup">
    <div class="formPopup" id="popupForm">
        <form action="/add-cost" method="POST">
            <h2 style="text-align:center;">Add Costs</h2>
            <div class="container" style="padding-left:2%">
                <label for="name">Cost Description: </label>
                <input class="input" type="text" id="name" name="name" required>
                <label for="cost">Unit Cost: </label>
                <input class="input" type="number" id="cost" name="cost" required>
                <label for="price">Unit Price: </label>
                <input class="input" type="number" id="price" name="price" required>
            </div>
            <br><br><br><br>
            <button class="button" type="submit">ADD</button>
            <button type="button" class="button" onclick="closeForm('')">CLOSE</button>
            <br><br>
        </form>
    </div>
</div>

<div class="loginPopup">
    <div class="formPopup" id="popupForm2">
      <form action="/delete-cost" method="POST">
          <h2 style="text-align:center;">Delete Cost</h2>
          <div class="container" style="padding-left:2%">
              <label for="id">Select Item: </label>
              <select class="input" name="id" required>
                  <% costs.forEach(cost => { %>
                    <option value="<%= cost.id %> "><%= cost.id + " - " + cost.description %> </option>
                  <% }) %>
              </select>   
          </div>
          <button class="button" type="submit">DELETE</button>
          <button type="button" class="button" onclick="closeForm(2)">CLOSE</button>
          <br><br>
  
      </form>
    </div>
</div>
<script>
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawMultSeries);

    function drawMultSeries() {
      var data = google.visualization.arrayToDataTable([
        ['', 'Revenue', 'Costs', 'Profit/loss'],
        ['', <%= total.revenue %>, <%= -1 * total.cost %>, <%=total.revenue - total.cost%>],
      ]);

      var options = {
        title: 'Revenue/Costs Chart',
        chartArea: {width: '50%'},
        hAxis: {
          title: 'Amount in INR',
          minValue: 0
        },
        vAxis: {
          title: ''
        }
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
</script>